/* css styles */
h1 {
    font-weight: lighter;
}

h1.title {
    font-weight: bold;
    color: #367ec4
}
h2 {
    font-weight: bold;
    font-size: x-large;
    color: #367ec4;
    border: none;
    margin-bottom: 2px;
}
h3 {
    font-size: larger;
    font-style: italic;
}
table td, table th {
    padding: 0 10px;
}
table th {
    background-color: #E0E0E0;
    font-weight: normal;
}
.jssd-property-table td {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}
.jssd-property-table {
    border: 1px solid #E0E0E0;
}
